@page "/instant-medical-booking"

@using Microsoft.AspNetCore.Components.Forms
@using PiedraAzul.Client.Models
@using PiedraAzul.Client.Models.Booking
@using PiedraAzul.Client.Models.UserProfiles
@using PiedraAzul.Client.Services.AuthServices
@using PiedraAzul.Client.Services.GraphQLServices
@using PiedraAzul.Client.Services.Utils
@using PiedraAzul.Client.States
@using PiedraAzul.Client.UI.Features.Booking.Components
@using PiedraAzul.Client.UI.Shared.Components.StepTag
@inject NavigationManager Navigation
@inject GraphQLAppointmentService AppointmentService
@inject AuthenticationService AuthService
@inject UserState UserState

@if (isSuccess)
{
    <SummaryAppointment Model="Model"></SummaryAppointment>
}
else
{
    <EditForm  Model="@Model" class="flex justify-center">

        <DataAnnotationsValidator />

        <div class="mx-auto my-6 flex w-full max-w-6xl flex-col rounded-xl bg-white p-8 shadow-2xl">
            <Stepper @ref="Stepper" TModel="BookingModel" FinishText="Solicitar cita" OnFinish="HandlerSubmit">

                <!-- STEP 1 -->
                <Step TModel="BookingModel"
                Title="Identificación"
                Fields="@(new[] { nameof(Model.PatientName), nameof(Model.PatientPhone), nameof(Model.PatientIdentification) })">

                    <div class="mb-6 flex flex-col items-center text-center">

                        <h2 class="text-2xl font-bold">
                            ¡Hola! Bienvenido a su Clínica
                        </h2>

                        <p class="mt-2 text-gray-600">
                            Estamos aquí para ayudarle. Para comenzar su reserva médica,
                            por favor ingrese los siguientes datos.
                        </p>

                    </div>

                    <div class="flex w-full flex-col gap-5 rounded border-2 border-gray-200 p-5">

                        <!-- Numero de identificacion -->
                        <div class="flex flex-col">

                            <div class="flex items-center gap-2">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                height="24"
                                viewBox="0 -960 960 960"
                                width="24"
                                fill="#257D8D">

                                    <path d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z" />
                                </svg>

                                <label class="text-lg font-semibold">
                                    Número de identificación
                                </label>

                            </div>

                            <InputText class="mt-2 rounded-md border-2 border-gray-300 px-4 py-3 focus:ring-primary focus:outline-none focus:ring-2"
                            @bind-Value="Model.PatientIdentification"
                            placeholder="Ej: 1150064123" />

                            <ValidationMessage For="@(() => Model.PatientIdentification)"
                            class="text-red-500 text-sm mt-1" />

                        </div>
                        <!-- Nombre -->
                        <div class="flex flex-col">

                            <div class="flex items-center gap-2">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                height="24"
                                viewBox="0 -960 960 960"
                                width="24"
                                fill="#257D8D">

                                    <path d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z" />
                                </svg>

                                <label class="text-lg font-semibold">
                                    Nombre completo
                                </label>

                            </div>

                            <InputText class="mt-2 rounded-md border-2 border-gray-300 px-4 py-3 focus:ring-primary focus:outline-none focus:ring-2"
                            @bind-Value="Model.PatientName"
                            placeholder="Ej: Juan López" />

                            <ValidationMessage For="@(() => Model.PatientName)"
                            class="text-red-500 text-sm mt-1" />

                        </div>

                        <!-- Telefono -->
                        <div class="flex flex-col">

                            <div class="flex items-center gap-2">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                height="24"
                                viewBox="0 -960 960 960"
                                width="24"
                                fill="#257D8D">

                                    <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12Z" />
                                </svg>

                                <label class="text-lg font-semibold">
                                    Número de teléfono
                                </label>

                            </div>

                            <InputText class="mt-2 rounded-md border-2 border-gray-300 px-4 py-3 focus:ring-primary focus:outline-none focus:ring-2"
                            @bind-Value="Model.PatientPhone"
                            placeholder="Ej: 301 123 4567" />

                            <ValidationMessage For="@(() => Model.PatientPhone)"
                            class="text-red-500 text-sm mt-1" />

                        </div>

                        <p class="text-center text-gray-500">
                            Sus datos están seguros con nosotros.
                        </p>

                    </div>

                </Step>


                <!-- STEP 2 -->
                <Step TModel="BookingModel"
                Title="Selecciona un doctor"
                Fields="@(new[] { nameof(Model.DoctorId)})">

                    <MenuTypeMedic OnSelected="SelectedDoctor" />
                    <ValidationMessage For="() => Model.DoctorId" />

                </Step>

                <!-- STEP 3 -->
                <Step TModel="BookingModel"
                Title="Selecciona un doctor"
                Fields="@(new[] { nameof(Model.SlotId)})">

                    <AppointmentScheduler DoctorId="@Model.DoctorId" OnSelected="SelectSlot"/>
                    <ValidationMessage For="() => Model.SlotId" />

                </Step>
                <!-- STEP 4 -->
                <Step TModel="BookingModel" Title="Confirmación">

                    <h2 class="mb-4 text-2xl font-bold">
                        Confirmar datos
                    </h2>

                    <div class="flex flex-col gap-2 text-lg">

                        <p><b>Nombre:</b> @Model.PatientName</p>
                        <p><b>Teléfono:</b> @Model.PatientPhone</p>
                        <p><b>Nombre de doctor:</b> @Model.Doctor.Name</p>
                        <p><b>A la fecha:</b> @Model.AppointmentSchedulerModel.Date.ToShortDateString() + @Model.AppointmentSchedulerModel.Time</p>

                    </div>

                </Step>


                <p class="text-md text-primary mt-4 text-center">
                    ¿Necesitas ayuda para hacer una cita? Llame al +57 301 123 4567
                </p>
            </Stepper>

        </div>
    </EditForm>
}
@code {

    BookingModel Model = new();
    bool isLoading = false;
    bool isSuccess = false;

    Stepper<BookingModel> Stepper { get; set; }

    string _errorMessage;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (UserState.User != null) Navigation.NavigateTo("/medical-booking", forceLoad: false, replace: true);

        var response = await AuthService.GetCurrentUserAsync();
        if (response.IsSuccess)
            Navigation.NavigateTo("/medical-booking", forceLoad: false, replace: true);

    }
    private void SelectedDoctor(DoctorModel? args)
    {
        if (args == null) return;
        Model.DoctorId = args.Id;
        Model.Doctor = args;
    }
    private async Task HandlerSubmit()
    {
        var result = await AppointmentService.CreateAppointment(new CreateAppointmentGqlInput(
            Guest: CreateContracts.CreateGuestPatientInput(Model.PatientName!, Model.PatientPhone!, Model.PatientIdentification!, ""),
            PatientUserId: null,
            DoctorId: Model.DoctorId,
            DoctorAvailabilitySlotId: Model.SlotId,
            Date: Model.DayOfYear.ToUniversalTime()
        ));
        if (!result.IsSuccess)
        {
            _errorMessage = "Ocurrió un error al crear la cita. Por favor, inténtelo de nuevo.";
            return;
        }
        
        isLoading = false;
        isSuccess = true;

        Stepper?.GoToStep(0);
        Console.WriteLine("meow");
    }
    private void SelectSlot(AppointmentSchedulerModel args)
    {
        if (args == null) return;

        args.Time = args.Time.Replace("a. m.", "AM")
                             .Replace("p. m.", "PM")
                             .Replace("a.m.", "AM")
                             .Replace("p.m.", "PM")
                             .Trim();

        Model.SlotId = args.SlotId;
        Model.DayOfYear = args.Date;
        Model.AppointmentSchedulerModel = args;
    }
}
